@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  --primary: #EE4455;
  --background: #F5F5F5;
  --secondary: #444;

  padding: 0;
  margin: 0;

  box-sizing: border-box;
} /*Estilo global*/  
  

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: var(--background);
}