#instagram {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  align-items: center;
  margin-bottom: 25px;
}

#titulo {
  padding-top: 2rem;
  font-size: 35px;
  text-align: center;
  margin-bottom: 3px;
  color: var(--secondary);
}

#titulo2 {
  align-self: flex-start;
  padding-top: 2rem;
  font-size: 30px;
  color: var(--secondary);
}

hr {
  margin-bottom: 7px;
  width: 10%;
  height: 3px;
  background-color: var(--secondary);
  position: center;
}

p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 15px;
}

.img-list {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  margin-top: 20px;
}

.img-list img {
  opacity: 0.8;
}
