#promo {
  --color: blue;

  background-color: var(--secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0% 15%;
  align-items: center;
  padding-bottom: 3%;
}
hr {
  margin-bottom: 7px;
  width: 10%;
  height: 3px;
  position: center;
  margin-bottom: 15px;
  color: #f0f0f0;
}

#promo h1 {
  padding-top: 2rem;
  text-align: center;
  font-size: 35px;
  color: #f0f0f0;
  margin-bottom: 3px;
}

#promo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  padding-top: 3rem;
}

#promocao {
  display: flex;
}
#promocao .icone_container {
  font-size: 2rem;
}

#promocao .icone_container {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  min-height: 170px;
  background-color: var(--primary);
}

#promocao .icone_container svg {
  color: #f0f0f0;
  font-size: 100px;
}

.text_container {
  margin-left: 15px;
}

.text_container h2 {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #f0f0f0;
}

.text_container p {
  text-align: justify;
  font-size: 1rem;
  color: #f0f0f0;
}
